{% extends 'myapp/base.html' %}

{% block content%}
    <div class="row">
        <div class="wrapper col-md-9">
            <div class="container ms-lg-3">
            <h2 class="text-primary mt-2 text-center">Movies</h2>
            <hr>
            <div class="container">
              <div class="row">
                  {% for movie in movie_list %}
                  <div class="col-sm-3 col-md-3">
                      <div class="card p-0">
                          <div class="card-image"> <img src="{{ movie.poster.url }}" alt=""> </div>
                          <div class="card-content d-flex flex-column align-items-center">
                              <h4 class="pt-2"><a href="{{movie.get_absolute_url}}">
                                  {{movie.title}}
                              </a></h4>
                              <h5>{{movie.country}}</h5>
                              <ul class="social-icons d-flex justify-content-center">
                                  <li style="--i:1">  <span class="fa fa-imdb fa-2x"> </span>: 7.5</li>

                              </ul>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
          <hr>
            {% include 'include/pagination.html' %}
          </div>
        </div>

 {% include 'include/filter.html' %}

{% endblock %}