{%extends 'base.html'%}
{% block title %} {{ movie.title }} {% endblock title %}
{% block content %}
{% load static %}
    <link href="{% static 'css/rating.css' %}" rel="stylesheet" >
    <link href="{% static 'css/detail_carousel.css' %}" rel="stylesheet" >
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <div class="container">
        <div class="row mt-2 justify-content-md-left">
            <div class=" card  col-md-auto border-0" style="max-height: none">
                <img class="img-fluid card-img-top" src="{{ movie.poster.url }}" alt="" style="height: 500px; border:none;">
            <div class="card-title ">
                <div class="rating">
                    <div class="rating_body">
                        <div class="rating_active"></div>
                            <div class="rating_items">
                                <input type="radio" class="rating_item" value="1" name="rating">
                                <input type="radio" class="rating_item" value="2" name="rating">
                                <input type="radio" class="rating_item" value="3" name="rating">
                                <input type="radio" class="rating_item" value="4" name="rating">
                                <input type="radio" class="rating_item" value="5" name="rating">
                                <input type="radio" class="rating_item" value="6" name="rating">
                                <input type="radio" class="rating_item" value="7" name="rating">
                                <input type="radio" class="rating_item" value="8" name="rating">
                                <input type="radio" class="rating_item" value="9" name="rating">
                                <input type="radio" class="rating_item" value="10" name="rating">
                            </div>
                        </div>

                    <div class="rating_value">
                        3.6
                    </div>
                </div>

            </div>
            </div>
            <div class="col-md-auto">
                <table class="table-borderless">
                    <tbody class="px-1">
                    <h3 class=" text-uppercase mt-1"><strong>{{ movie.title }}</strong></h3>
                        <tr>
                            <th scope="row">Year:</th>
                            <td>{{ movie.year }}</td>
                        </tr>

                        <tr>
                            <th scope="row">Country:</th>

                            <td><a href="">{{ movie.country }}</a></td>
                        </tr>

                        <tr>
                            <th scope="row">Tagline:</th>
                            <td>{{ movie.tagline}}</td>
                        </tr>

                        <tr>
                            <th scope="row">Genres:</th>
                            <td>
                                {% for genre in  movie.genres.all%}
                                    <a href="" >
                                    {{ genre.name }}
                                    </a>
                                {% endfor %}
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">Directors:</th>
                            <td>
                                {% for director in  movie.directors.all%}
                                <a href="" >
                                    {{ director.name }}
                                </a>
                                {% endfor %}
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">Actors:</th>
                            <td>

                                {% for actor in  movie.actors.all%}
                                <a href="" >
                                    {{ actor.name }}
                                </a>
                                {% endfor %}
                            </td>
                        </tr>


                        <tr>
                            <th scope="row">Premiere</th>
                            <td>{{ movie.world_premiere }}</td>
                        </tr>

                        <tr>
                            <th scope="row">Budget</th>
                            <td>{{ movie.budget }} $</td>
                        </tr>

                        <tr>
                            <th scope="row">Fees in USA</th>
                            <td>{{ movie.fees_in_usa }} $</td>
                        </tr>

                        <tr>
                            <th scope="row">Fees in world</th>
                            <td>{{ movie.fees_in_world }} $</td>
                        </tr>

                        <tr>
                            <th scope="row">iMDb Rating</th>
                            <td>{{ movie.imdb_ratting }}</td>
                        </tr>

                        <tr>
                            <th>
                                  <div class="social-links social-icons">
                                      <a href="#"><i class="fa fa-facebook"></i></a>
                                      <a href="#"><i class="fa fa-twitter"></i></a>
                                      <a href="#"><i class="fa fa-linkedin"></i></a>
                                      <a href="#"><i class="fa fa-github"></i></a>
                                  </div>
                            </th>
                        </tr>

                    </tbody>

                </table>
            </div>
            <h5 class="display-5 text-center"> Story line</h5>
               <p class="align-self-end">
            {{ movie.description }}
        </p>
        </div>

        <h5 class="display-5 text-center"> Movie shots</h5>
         <div class="items">
             {% for image in movie.movieshots_set.all %}
            <div><img src="{{ image.image.url }}" class="img-fluid"></div>
            {% endfor %}
        </div>
        <h5 class="display-5 text-center"> Trailer</h5>
        <div class="ratio ratio-16x9">
            <iframe
              src="{{ movie.trailer}}"
              title="YouTube video"
              allowfullscreen
            ></iframe>
          </div>

        <div class="be-comment-block mt-6">

            <h3 class="comments-title">Comments ({{ movie.reviews_set.count }})</h3>
        <form class="form-block" method="post" action="{% url 'add_review' movie.id %}" id="formReview">
                {% csrf_token %}
                <div class="row">
                    <input type="hidden" name="parent" id="contact-parent" value="">
                    <div class="col-xs-12 col-sm-6 mb-2">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-user" ></i></span>
                            <input class="form-control" type="text" placeholder="Your name"  name="name" aria-label="Username">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 mb-2">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                            <input class="form-control" type="text" placeholder="Your email" name="email">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <textarea class="form-control" required="" rows="4" placeholder="Your text" name="text" id="contact-comment"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary pull-right" type="submit">submit</button>
                </div>
            </form>
            {% for review in movie.get_review %}

            <div class="row justify-content-md-left">
                <div class="col-md-auto mt-3" style="display: inline-flex; align-items: center;">
                <a href="javascript:;" class="avatar avatar-lg rounded-circle">
                        <img alt="Image placeholder" src="{% static 'img/team-2.jpg' %}">
                </a>
                           <h5 class="name ps-3">
                        {{ review.name }}
                            </h5>
                                 <span class="mx-2">
                                     <small>
                            <i class="fa fa-clock-o"></i>
                        {{ review.date }}
                                         </small>
                    </span>
                </div>
                    </div>

                    <div class="card card-frame" style="max-height: 100%; max-width: 100%">
                        <p class="px-3 text-md-left">{{ review.text }}</p>
                        <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2 mx-2 align-self-end">
                            <a href="#formReview" onclick="addReview('{{ review.name }}', '{{ review.id }}')"><i class="ni ni-chat-round"></i> Reply</a>
                        </span>
                    </div>
                {% for rew in review.reviews_set.all %}
                <div class="row justify-content-md-center">
                <div class="col-md-auto mt-3 d-flex">
                <a href="javascript:" class="avatar avatar-lg rounded-circle">
                        <img alt="Image placeholder" src="{% static 'img/team-2.jpg' %}">
                </a>
                           <h5 class="name ps-3">
                        {{ rew.name }}
                            </h5>
                                 <span class="mx-2">
                                     <small>
                            <i class="fa fa-clock-o"></i>
                        {{ rew.date }}
                                         </small>
                    </span>

                </div>

                    </div>
                <div class="row justify-content-md-end">
                <div class="card card-frame align-items-lg-end" style="max-height: 100%; max-width: 60%;">
                        <p class="px-3 text-md-left">{{ rew.text }}</p>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}


        </div>
    </div>
    <script>
    function addReview(name, id) {
        document.getElementById("contact-parent").value = id;
        document.getElementById("contact-comment").innerText = `${name}, `


    }
    </script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="{% static 'js/rating.js' %}"></script>

{% endblock %}