.rating {
    display: inline-flex;
    font-size: 30px;
    line-height: .75;
}
.rating_body{
    position: relative;
}

.rating_body::before {
    content: "★★★★★★★★★★";
    display: block;
}

.rating_active {
    position: absolute;
    width: 27%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating_active::before {
    content: "★★★★★★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #9bde45;
}

.rating_items {
    display: inline-flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rating_item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.rating_value {
    font-size: 80%;
    line-height: 1;
    padding-left: 10px;
}